body {
    background-color: #4a148c;
    position: relative;
    margin: 0;
    padding: 0;
}
main {
    font-size: 1.25rem
}

.divider {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}
main.card-panel {
    width: 75%;
    margin: 70px auto;
    min-height: 1000px;
    padding: 3rem;
}

main.card-panel .row {
    display: flex;
    align-items: stretch;
}

.top-banner .name {
    font-size: 2.5rem;
}

.download {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.job-story {
    font-size: 1rem;
    line-height: 1.5;
}

/* Overrides */
span.badge.new:after {
    content: '';
}
span.badge {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    border-radius: 2px;
}
.workHistory {
    font-size: 4rem;
}
@media only screen and (max-width: 600px) {

}
/* End of overrides */

@media only screen and (max-width: 800px) {
    main.card-panel {
        width: 100%;
        margin-top: 0px;
    }
    main.card-panel .row {
        display: block;
    }
    .divider {
        margin-bottom: 0.2rem;
    }
}

a {
    color: purple;
}
a:hover {
    color: darkcyan;
}
.download-resume {
    margin: 2rem 0 0;
}