body {
    background-color: #ff5722;
    position: relative;
    margin: 0;
    padding: 0;
}

.divider {
    margin-bottom: 0.6rem;
}
main.card-panel {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    min-height: 1000px;
    padding: 3rem;
}

main.card-panel .row {
    display: flex;
    align-items: stretch;
}

.top-banner .name {
    font-size: 1.5rem;
}

.download {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

/* Overrides */
span.badge.new:after {
    content: '';
}
span.badge {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    border-radius: 2px;
}
@media only screen and (max-width: 600px) {

}
/* End of overrides */

@media only screen and (max-width: 600px) {
    main.card-panel {
        width: 100%;
        margin-top: 0px;
    }
    main.card-panel .row {
        display: block;
    }
    .divider {
        margin-bottom: 0.2rem;
    }
}

@media only print {
    main.card-panel {
        width: 100%;
        margin-top: 0px;
    }
}
